[
    (
        name: "Tents",
        symbols: [
            (
                type: Cell,
                name: "Tent",
                cs: [
                    Not(HaveGE(Square(1), "Tent", 1)),
                ],
            ),
            (
                type: Cell,
                name: "Tree",
                cs: [
                    PairEq(Plus(1), "Tent", 1),
                ],
            ),
            (
                type: CellDefault,
                name: "Empty",
            ),
            (
                type: CellMarker,
                name: "Marker",
            ),
            (
                type: CellExt(Rect(-1, 0, -1, Sub(Height, 1))),
                name: "RowClue",
                args: [
                    CountOf(Row, "Tent"),
                ],
                cs: [
                    HaveEq(Row, "Tent", Args(0)),
                ],
            ),
            (
                template: ColFromRow("RowClue"),
                name: "ColumnClue",
            ),
        ],
        fullgen: [
            "Tent",
            "Tree",
            "RowClue",
            "ColumnClue",
        ],
        reduce: [
        ],
        solve: [
        ],
    ),
    (
        name: "Light Up",
        symbols: [
            (
                type: Cell,
                name: "Light",
                cs: [
                    HaveEq(TakeWhile(WkPlus, Not(Exact("Wall"))), "Light", 0),
                ],
            )
        ],
    ),
    (
        name: "Aquarium",
        symbols: [
            (
                type: Cell,
                name: "Water",
                cs: [
                    Eq(TakeWhileFrom(WkDown, TakeWhile(WkHorizontal, InSameRegion), InSameRegion), "Water"),
                ],
            ),
            (
                type: Region,
                name: "Region",
            ),
        ],
    ),
]
